

.grey{
  color : LightGrey;
  font-family:'Arial', sans-serif;
  font-weight: bold;
  font-size:larger
}
hr{
    width: 50%;
    margin-left:0%;
    height: 5px;
    border: none;
    background-color: black;  
}

h1{
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:-5%
}
.tracks{
    font-family: "Arial Black", sans-serif;
    font-weight: bold;
    line-height: 50px;
}
.bottom-left{
    height:15px;
    width:105%;
    margin-bottom:5%;
}
#rightmost{
    width:500px;
    height: 810px;;
    margin-left: 20px;
    position: relative;

}
#container{
    display: flex;
    align-items: flex-start;
    position: relative;
}
#left{
    flex:1;
    padding:20px;
}

#bottom-right {
    position: absolute;
    top: calc(810px + 20px);
    left: 60%; 
    right: 40px; 
    height: 70px;
}


