

.grey{
  color : LightGrey;
  font-family:'Arial', sans-serif;
  font-weight: bold;
}
hr{
    width: 50%;
    margin-left:0%;
    height: 5px;
    border: none;
    background-color: black;  
}

h1{
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:-5%
}
.tracks{
    font-family: "Arial Black", sans-serif;
    font-weight: bold;
}
#bottom-left{
    height:15px;
    width:50%;
    margin-bottom:2.5%
}
#rightmost{
    width:500px;
    height:500p;
    margin-left: 20px;

}
#container{
    display: flex;
    align-items: flex-start;
}
#left{
    flex:1;
    padding:20px;
}


